#container div, #loopWay div {
  opacity: 0.7;
  height: 20vh;
  width: 20vh; }

.important {
  opacity: 1; }

.special-header {
  color: blue; }

.highlighted {
  background: green; }

.clickWay, #container, #loopWay {
  width: 50vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

body {
  display: -ms-flexbox;
  display: flex; }
